header {
  background-color: var(--black);
}
header h1 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  text-align: center;
  color: var(--white);
  padding-top: 98px;
  padding-bottom: 97px;
}
