header{
    background-color: var(--black);
    margin-bottom: 80px;
}
nav{
    border: 0px;
}
.back{
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  opacity: 50%;
  color: var(--black);
}
